@model EmployeeDeleteViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Delete employee"];
}
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <h1 class="mr-t-b-25">@Localizer["Are you sure, you want to delete the employee"]?</h1>
        <a asp-area="LibraryBlog" asp-controller="Employees" asp-action="Destroy" asp-route-id="@Model.Id" class="btn btn-danger">@Localizer["Delete"]</a>
        <a class="btn btn-default btn-sm" href="javascript:history.go(-1)">@Localizer["Back"]</a>
    </div>
</div>