@model LibServiceTypeListingViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Services price list"];
    ViewData["Description"] = Localizer["service price list for all services offered by \"Mihalaki Georgiev\" Library, Vidin"];
}

<div class="row">
    @Html.Partial("_LibServiceTypeListingView", Model)
</div>

