@model DepartmentListingViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contacts"];
    ViewData["Description"] = Localizer["List with contact information for the staff of Regional Library \'Mihalaki Georgiev\' - Vidin"];
}

<div class="row">
    @Html.Partial("_DepartmentsListingView", Model) 
</div>

