@model SurveyFormModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Survey"];
    ViewData["Description"] = Localizer["Help us, by sharing your opinion with us."];
}

<div class="row  text-center">
    <h2>@Localizer["BiblioBus"]</h2>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center mr-t-40">
            <img class="mfp-img" src="/images/SiteImages/BiblioBus.png" alt="Лято с библиотеката 2023" />
        </div>
    </div>
   
</div>
